<!DOCTYPE html>

<html>
    <head>
        <title>About</title>
        <link rel="stylesheet" type="text/css" href="css/styles.css" />
        <src src="/public/app.js" defer></src>
    </head>
    <body>

        <div class="main-content">
            {{>header}}
            <img src="img/ce.png" alt="picture of author" class="portrait" />
        </div>

        <p>{{>footer}}</p> 

    </body>
</html>

