<!DOCTYPE html>

<html>
    <head>
        <title>404</title>
        <link rel="stylesheet" type="text/css" href="/css/styles.css" />
    </head>
    <body>
        
        <div class="main-content">
            {{>header}}
            <p>{{>error}} </p>
        </div>

        <p>{{>footer}}</p> 

    </body>
</html>

