<!DOCTYPE html>

<html>
    <head>
        <title>Help</title>
        <link rel="stylesheet" type="text/css" href="/css/styles.css" />
        <src src="/public/app.js" defer></src>
    </head>
    <body>
        
         <div class="main-content">
            {{>header}}
            <p>{{message}} </p>
        </div>

        <p>{{>footer}}</p>
    </body>

</html>

